@model IEnumerable<DejasList.Models.Jobs>

@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contractor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeOfProject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contractor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeOfProject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JobsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.JobsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JobsId })
        </td>
    </tr>
}

</table>
