@model DejasList.Models.JobsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="col-md-12" align="center">
    <tr>
        <th>
            <h4>
                Size Of Project
            </h4>
        </th>
        <th>
            <h4>
                Type of Project
            </h4>
        </th>
        <th>
            <h4>
                Budget
            </h4>
        </th>
        <th>
            <h4>
                Job Name
            </h4>
        </th>
    </tr>


    @foreach (var item in Model.JobList)
    {
        <tr>
            <td>
                <h4>
                    @Html.DisplayFor(Model => item.SizeOfProject)
                </h4>
            </td>
            <td>
                <h4>
                    @Html.DisplayFor(Model => item.TypeOfProject)
                </h4>
            </td>
            <td>
                <h4>
                    @Html.DisplayFor(Model => item.Budget)
                </h4>
            </td>
            <td>
                <h4>
                    @Html.DisplayFor(Model => item.Name)
                </h4>
            </td>
            <td>
               | @Html.ActionLink("Details", "ContractorDetails", "Jobs", new { id = item.JobsId }, item.JobsId) 
                @*@Html.ActionLink("Submit Interest", "SubmitInterest", "Contractors", new { id = item.JobsId }, item.JobsId)*@
            </td>
        </tr>
    }

</table>

